.NavBar {
    width: 100vw;
    height: 0px; 
    z-index: 20;
}

.outlined {
    font-family: 'Coves', sans-serif;
}

.Vince {
    position: absolute;
    font-weight: bold;
    font-size: .9em;
    left: 0px;
    top: -20px;
}

.Contact {
    position: absolute;
    font-weight: normal;
    font-size: .9em;
    right: 0px;
    top: -20px;
}